package {{.Package}}

import (
	"context"
	"errors"

	"gorm.io/gorm"

	"github.com/BounkhongDev/bkgo/contract"
	"github.com/BounkhongDev/bkgo/errs"
)

type {{.LowerName}}Repository struct {
	db contract.ORM
}

func New{{.Name}}Repository(db contract.ORM) {{.Name}}Repository {
	return &{{.LowerName}}Repository{db: db}
}

func (r *{{.LowerName}}Repository) FindByID(ctx context.Context, id string) (*{{.Name}}, error) {
	var entity {{.Name}}
	if err := r.db.Session(ctx).First(&entity, "id = ?", id).Error; err != nil {
		if errors.Is(err, gorm.ErrRecordNotFound) {
			return nil, errs.NotFound("{{.Name}} not found")
		}
		return nil, err
	}
	return &entity, nil
}

func (r *{{.LowerName}}Repository) FindAll(ctx context.Context) ([]*{{.Name}}, error) {
	var list []*{{.Name}}
	if err := r.db.Session(ctx).Order("created_at desc").Find(&list).Error; err != nil {
		return nil, err
	}
	return list, nil
}

func (r *{{.LowerName}}Repository) Create(ctx context.Context, entity *{{.Name}}) error {
	return r.db.Session(ctx).Create(entity).Error
}

func (r *{{.LowerName}}Repository) Update(ctx context.Context, entity *{{.Name}}) error {
	return r.db.Session(ctx).Save(entity).Error
}

func (r *{{.LowerName}}Repository) Delete(ctx context.Context, id string) error {
	return r.db.Session(ctx).Delete(&{{.Name}}{}, "id = ?", id).Error
}
